<section class="container">
    <div class="row m-5">
        <div class="card col-12 justify-content-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">FIFO SIMULATOR</h5>
                <p class="card-text">
                        The F.I.F.O simulator is the angular implementation of 
                        the F.I.F.O priority algorithm, to simulate a real stage,
                        of the Windows operating system.
                </p>

                <p class="card-text">Team:</p>
                <a class="btn btn-secondary d-block m-1" style="color:antiquewhite;">Sebastian Bárcenas</a>    
                <a class="btn btn-secondary d-block m-1" style="color:antiquewhite;">Joshep</a>   
                <a class="btn btn-secondary d-block m-1" style="color:antiquewhite;">Andres</a>   
                <a class="btn btn-secondary d-block m-1" style="color:antiquewhite;">Gabriel Guerra</a>   
            </div>
        </div>
    </div>
</section>