<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
          <img src="assets/images/web-design.png" width="30" height="30" class="d-inline-block align-top" alt="">
        
        FIFO Simulator</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"  routerLinkActive="active">
            Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/AboutUs']"  routerLinkActive="active">About Us</a>
        </li>
      </ul>
    </div>
  </nav>